@page "/counter"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using CashCanvas.Data
@using CashCanvas.Entities
@using CashCanvas.Services
@using CashCanvas.Services.Interfaces

@attribute [Authorize]

@inject IUserStatsService StatsService
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<MudButton OnClick="@IncrementCount" Variant="Variant.Filled" Color="Color.Primary">Increment Count</MudButton>
<MudText>Current Count: @currentCount</MudText>


@code {
    private int currentCount = 0;
    private string? userId;
    private UserStats? userStats;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userId = UserManager.GetUserId(user);

            if (userId != null)
            {
                userStats = await StatsService.GetStatsAsync(userId);
                currentCount = userStats.TotalCounterClicks;
            }
        }
    }

    private async Task IncrementCount()
    {
        if (userStats != null)
        {
            currentCount++;
            userStats.TotalCounterClicks = currentCount;
            await StatsService.UpdateStatsAsync(userStats);
        }
    }
}